@media  (max-width : 600px) {
    .menu{
        flex-wrap: wrap;
        text-align: center;
    }
    
    input{
        margin-right: 91px;
    }

   .d1{
     margin-left: -170px;
   }

   p{
    font-size: 12px;
   }

   b{
     font-size: 14px;
   }
    
      
      
    
}

p, b{
    font-family: Arial, Helvetica, sans-serif
}

